<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <nav>
      {% include nav.html %}
      <form action="/search" method="get" class="search-form">
          <input type="text" name="q" placeholder="Search...">
          <button type="submit">Search</button>
      </form>
    </nav>
    <div class="wrapper">
      <main>{{ content }}</main>
      <footer>{% include footer.html %}</footer>
    </div>

    {% include link-previews.html wrapperQuerySelector="content" %}
  </body>
</html>
